

#header {
  color: white;
  background-color: #ffdead;
  font-size: 20px;
  height: 200px;
  margin: 0px;
  padding-top: 3%;
  text-align: center;
  width: 100%;

}

#profile {
  height: 100px;
  width: 100 px;
}
